<div class="ui secondary  menu" style="margin-top: 1em; padding: 1em" ng-controller='navCtrl'>
  <a class="item" ng-class="getClass('/')" ng-click="loadPage('#/')">
    Profile
  </a>
  <a class="item" ng-class="getClass('/education')" ng-click="loadPage('#/education')">
    Education
  </a>
  <a class="item" ng-class="getClass('/skills')" ng-click="loadPage('#/skills')">
    Skills
  </a>
  <a class="item" ng-class="getClass('/achievements')" ng-click="loadPage('#/achievements')">
    Achievements
  </a>
  <a class="item" ng-class="getClass('/contact')" ng-click="loadPage('#/contact')">
    Contact
  </a>
  <div style="margin: auto">
    <div style="font-family: 'Lobster', cursive; font-size: 2.5em;">Brandon Jones</div>
  </div>
  <div style="float: right">
    <strong>Produced and Powered by Brandon Jones</strong><br>
    <a href="https://github.com/jonesbra/resume">Source Code</a>
    <span ng-controller="gitCtrl">Last Commit: {{ lastCommit }}</span>
  </div>
</div>
<div class="ui divider"></div>
