<div>
  <div>
    <div class="ui segment" style="height: 90%; padding-top: 3em; padding-bottom: 10em; font-size: 1.2em; margin: 5em">
      <img class="ui medium circular left floated image" src="images/internPic.jpg">
      <p><strong>
        Hello, my name is Brandon Jones and I am a Senior at the University of Kentucky.
        I study Mechanical Engineering with a minor in Computer Science.
      </strong></p>

      <p>
        Since May of 2016, I have been employed at <a href="https://www2.wwt.com/">World Wide Technology</a> where I have gained
        a great amount of engineering experience as an <strong>Automation Engineer</strong>. The bulk of my engineering experience
        lies in programming, specifically <strong>application development</strong> and <strong>configuration management</strong>
        of IT equipment.
      </p>

      <p>
        Though my interest lies in multiple fields of engineering, I am particularly interested in the field of <strong>Aerospace Engineering</strong>.
        I would also like to apply my experience in programming to this field.
      </p>
    </div>
  </div>

</div>
