<div>
  <div>
    <div class="ui segment" style="height: 90%; padding-top: 3em; padding-bottom: 10em; font-size: 1.2em;">
      <img class="ui medium circular left floated image" src="images/internPic.jpg">
      <p>
        Hello, my name is Brandon Jones and I am a Senior at the <strong>University of Kentucky.</strong>
        I study <strong>Mechanical Engineering</strong> with a minor in <strong>Computer Science.</strong>
      </p>

      <p>
        Since May of 2016, I have been employed at <a href="https://www2.wwt.com/">World Wide Technology</a> where I have gained
        a great amount of engineering experience as an <strong>Automation Engineer</strong>. The bulk of my engineering experience
        lies in programming, specifically <strong>application development</strong> and <strong>configuration management</strong>
        of IT equipment.
      </p>

      <p>
	      My goal for the near future is to advance my career in the field of <strong>Computational Engineering.</strong>
        This field is among the most fascinating to me due to the interdisciplinary aspect that it incorporates into itself.
      </p>
    </div>
  </div>
</div>
